<!-- navigation for authenticated users -->
<nav class="navbar navbar-expand-md navbar-dark">

  <div class="container d-flex">
    <a class="navbar-brand" routerLink="/home">
      <img src="../assets/img/OLINWORK-LOGO.png" alt="OlInWork">
    </a>

    <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse"
      data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon custom-toggler "></span>
    </button>

    <div class="collapse navbar-collapse navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/find-jobs">Find Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/home">Contact Us</a>
        </li>
      </ul>
    </div>

    <div *ngIf="currentUser" class="collapse navbar-collapse justify-content-end navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/moderator" *ngIf="isModerator">Moderator</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/">My account</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div *ngIf="!currentUser" class="collapse navbar-collapse justify-content-end navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>

  </div>

</nav>



<div>
  <router-outlet></router-outlet>
</div>


<app-footer></app-footer>
