<section class="find-jobs">
  <div class="cotainer">
    <!-- Select a field form -->
    <form [formGroup]="filterJobsForm" (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-center">
        <div>
          <select formControlName="field" (change)="selectingFilters()" 
            name="fields" class="dropdown">
            <option value="select" id="selectDefaultOption" disabled>Select a field</option>
            <option *ngFor="let jobTitle of jobTitles" 
              [value]="jobTitle">
              {{jobTitle}}
            </option>
          </select>
          <p class="remove-filters-btn">
            <a (click)="removeFilters()" [ngClass]="{ hidden: !filterChosen }">
              Remove filters
            </a>
          </p>
        </div>
        <button type="submit" class="filter-jobs">Filter Jobs</button>
      </div>
    </form>

    <hr>

    <!-- Job offers -->

    <div class="container cards-container">

      <div class="card w-100" *ngFor="let jobOffer of jobOffers">
        <div class="card-body">
          <h3 class="card-title">{{jobOffer.jobTitle}}</h3>
          <p class="card-text">
            {{jobOffer.description}}
          </p>

          <div class="d-flex justify-content-between">
            <p class="salary">$ {{jobOffer.salary}} / month</p>
            <div class="button-holder">
              <button>Details</button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Pagination (Angular-driven ezample in bookmarks) -->

    <div class="mt-5">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="pagination">
          <ul *ngIf="pager.pages && pager.pages.length">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(1)">
                <img src="../../assets/img/prev-angle-icon-double.svg" alt="First">
              </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
              <a (click)="setPage(pager.currentPage - 1)">
                <img src="../../assets/img/prev-angle-icon.svg" alt="Previous">
              </a>
            </li>
            <li *ngFor="let page of pager.pages">
              <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.currentPage + 1)">
                <img src="../../assets/img/next-angle-icon.svg" alt="Next">
              </a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a (click)="setPage(pager.totalPages)">
                <img src="../../assets/img/next-angle-icon-double.svg" alt="Last">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
