<div id="bla">
  <picture>
    <source media="(max-width: 992px) and (min-width: 769px)" srcset="../../assets/img/Home-Banner-992.png">
    <source media="(max-width: 768px)" srcset="../../assets/img/Home-Banner-768.png">
    <img src="../../assets/img/Home-Banner-1280.png" class="cover-photo" alt="bla">
  </picture>
  <div class="container d-flex">
    <div class="home-banner justify-content-center ">
      <h1 class="HomeHeader">Jobs & Work Abroad Programs</h1>
      <h2 class="HomeSubHeader">Browse International Jobs And Find The Position For You</h2>
      <button class="home-banner-button">BROWSE JOBS</button>
      <button class="home-banner-button">POST YOUR RESUME</button>
    </div>
  </div>

</div>

<find-jobs [pageSize]="3" [maxPages]="2"></find-jobs>

<about-us></about-us>


